body {
  background: url(../../../../assets/images/1.png);
  color: #fff;
}

h1
{
  color:black;
}
h2
{
  color:black;
  font-family: cursive;
  font-size: 180%;
}
li{
  color:black;
  size: 20px;
}
input
{
  width:20%;
}
label{
  color:black;
}
img {
  width: 70%;
}
.little_img{
  width:30%;
}
