.p
{
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color:#2F4F4F;
  font-size: 170%;
  margin-top: 70px;
}
img
{
  margin-top: 20px;
}
.descr
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color:#2F4F4F;
  font-size: 120%;
  margin-top: 70px;
}
