<app-menu></app-menu>
<div class="container parent">
  <form>
    <div class="form-group">
      <label for="inputLogin">Email address</label>
      <input type="login" class="form-control" id="inputLogin" placeholder="Enter login" #login>
    </div>
    <div class="form-group">
      <label for="inputPassword1">Password</label>
      <input type="password" class="form-control" id="inputPassword1" placeholder="Password" #password>
    </div>
    <div class="child">
      <button type="submit" class="btn btn-primary" (click)="clickLogin(login.value, password.value)">Log in</button>
    </div>
  </form>
</div>
