<app-menu></app-menu>
<div  class="container parent">
  <form>
    <div class="form-group">
      <label for="inputFirstName">First name</label>
      <input type="email" class="form-control" id="inputFirstName"  placeholder="Enter first name">
    </div>
    <div class="form-group">
      <label for="inputSecondName">Second name</label>
      <input type="email" class="form-control" id="inputSecondName"  placeholder="Enter second name">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="inputPassword1">Password</label>
      <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="inputPassword2">Repeat password</label>
      <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
    </div>
<!--    <div class="child">
    <button class="btn btn-success" data-toggle="modal" data-target="#billing">Sign up</button>
      <div id="billing" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">x</button>
              <h4 class="modal-title">заголовок</h4>
            </div>
            <div class="modal-body"></div>
          </div>
        </div>
      </div>
    </div>-->
    <!--<button (click)="ClickButton()"></button>-->
    <!--<popup>-->
      <!--bla bla bla-->
    <!--</popup>-->
  </form>
</div>

