<app-menu></app-menu>
<div *ngIf="ready"  class="container parent">
<form [formGroup]="userReactiveForm" (submit)="onSubmit()">
  <div class="form-group col-md-3">
    <label for="firstName">First name:</label>
    <input type="text" class="form-control" id="firstName" formControlName="firstName" />
  </div>
  <div class="error red" *ngIf="isControlInvalid('firstName')">
    Use english letters
  </div>
  <div class="form-group col-md-3">
    <label for="secondName">Second name:</label>
    <input type="text" class="form-control" id="secondName" formControlName="secondName" />
  </div>
  <div class="error red" *ngIf="isControlInvalid('secondName')">
    Use english letters
  </div>
  <div class="form-group col-md-3">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" formControlName="email" />
  </div>
  <div class="form-group col-md-3">
    <label for="login">Login</label>
    <input type="text" class="form-control" id="login" formControlName="login" />
  </div>
  <div class="form-group col-md-3">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password" />
  </div>
  <div class="error red"
       *ngIf="userReactiveForm.get('password').getError('invalidPassword') && userReactiveForm.get('password').touched">
    {{userReactiveForm.get('password').getError('invalidPassword')}}
  </div>
  <div class="form-group col-md-3">
    <label for="role">Role</label>
    <select id="role" class="form-control" formControlName="role">
      <option disabled value="null">choose</option>
      <option *ngFor="let userType of userTypes">{{userType}}</option>
    </select>
  </div>
  <button class="btn btn-success label_marg"  type="submit">Sign Up</button>
</form>
</div>
<hr/>
<!--<div>{{userReactiveForm.value|json}}</div>-->

