label{
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color:#2F4F4F;
  font-size: 110%;
}
input
{
  size: 30px;
}
.parent
{
  margin-top: 30px;
}
.child
{
  margin-top: 15px;
}
.label_marg
{
  margin-left: 12px;
}
.сur
{
  cursor: pointer;
}
button
{
  position: relative;
  z-index: 10;
}
input.ng-touched.ng-invalid{
  border-color: red;
}
input.ng-pending{
  border: 1px solid yellow;
}
